.cuarta{padding: 20px 20px 20px 20px;
  
  .cuarta__t1{width: 500px;
                height: 618px;
                display: flex;}
                
  
  &__cuarta__unavida{padding: 10px;
                    text-align: left;
                    color: blue;
                    font-weight: 700;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: large;}
                            
  
  &__cuarta__texto{width: 600px;}
  
  &__cuarta__video{display: flex;
                    justify-content: right;
                    height: -90px;
                    margin-right: 38px;
                    margin-top: -303px;}
                }