.formulario{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: table-caption;
            color:white;
            background-color: black;
        
        &__a{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
             color: black;
             text-align: center;}

        &__formulario__c{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        display: table-caption;
                        color:white;
                        background-color: black;}
           
}