.links{      
        &__links__c{margin-left: 579px;
            margin-top: -49px;
            font-size: x-large;
            font-weight: 500;}

        &__a{text-decoration: none;
            color: black;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

        &__nav a{font-weight: 600;
                padding-right: 10px;}

        &__nav a:hover{color: white;}
    }