.pie {background-color: black;
        padding: 20px;
        height: 242px;

        &__pie__clases{background-color: black;
                        padding: 20px;
                        height: 240px;
                        margin-top: 195px;}

        &__pie__estudio {background-color: black;
                        padding: 20px;
                        height: 242px;}
        &__pie__trabajos {background-color: black;
                          padding: 20px;
                          height: 242px;}
        &__pie__nosotros {background-color: black;
                                padding: 20px;
                                height: 242px;}
}

