.quinta{
  padding: 15px;
    
&__quinta__img{
      width: 200px;
      height: 509px;
      display: flex;
      margin-left: 343px;}

&__quinta__txt{
      font-weight: 700;
      display: flex;
      margin-top: -5px;
      text-align: justify;
      margin-bottom: -20px;
      width: 864px;
      margin-left: 365px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

    }

  
            