/*estilo movil - - - - nosotros*/

@media only screen and (max-width: 320px){

        #grilla5{
          display: grid;
          justify-content: center;
          grid-template-columns:1fr;
          grid-template-rows: 1fr;
          grid-template-areas: "header" "quinta" "footer";}
          
          &__container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
                  width: 100%;
                  padding-right: var(--bs-gutter-x,.75rem);
                  padding-left: var(--bs-gutter-x,.75rem);
                  margin-right: 1px;
                  margin-left: -75px;}
          
                  &__nosotros {
                    margin-left: 663px;
                    margin-right: -90px;}
                    &__quinta__img {
                      width: 200px;
                      height: 516px;
                      display: flex;
                      margin-left: 801px;}
                      &__quinta__txt{width: 862px;
                      margin-left: 830px;}
                      &__pie__nosotros{
                      margin-left: 166px;
                      height: 321px;} 
                      &__formulario {
                        grid-area: formulario;
                        margin-left: 583px;}
                      &__info {
                        grid-area: info;
                        text-align: right;
                        color: white;
                        height: -20px;
                        font-size: x-large;
                        margin-top: -233px;
                        margin-right: 14px;}              
        }
        