
/*estilo tablet - - - - clases*/

@media only screen and (min-width: 321px) and (max-width: 769px){

    #grilla2{overflow: hidden;
      display: grid;
      justify-content: center;
      grid-template-columns:1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "header" "segunda" "footer";}
      
      &__container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
          width: 100%;
          padding-right: var(--bs-gutter-x,.75rem);
          padding-left: var(--bs-gutter-x,.75rem);
          margin-right: 1px;
          margin-left: -75px;}
      
            &__clases{margin-right: 64px;
                      margin-left: -144px;}
            &__header{margin-left: 170px;}
            &__links__c{margin-right: -9px;}
        
            &__segunda{margin-left: 169px;
                       overflow: hidden;}
            &__segunda__centro{margin-left: 160px;}
            &__segunda__columna__izq{margin-left: -15px;
                                     height: 353px;}
      &__segunda__columna__cen1 {
        height: 288px;
        width: 70px;
        margin-left: 409px;
        display: flex;
        justify-content: center;
        margin-top: -337px;
        margin-bottom: -38px;}
        &__segunda__columna__cen2 {
        height: 307px;
        width: 500px;
        margin-left: 196px;
        display: flex;
        justify-content: center;
        margin-top: 125px;}
        &__segunda__columna__der {margin-bottom: 385px;
            display: flex;
            height: 307px;
            margin-left: 85px;
            margin-top: -306px;}
            &__segunda__centro__subt{margin-left: 1px;
            margin-top: 80px;
            margin-bottom: 43px;}
            &__segunda__centro__img {margin-top: -505px;
              display: flex;
              height: 348px;
              margin-left: 106px;
              margin-bottom: 313px;}
              &__segunda__centro__txtizq {font-size: x-large;
                font-weight: 700;
                display: flex;
                margin-left: 171px;
                margin-top: -182px;}
                &__segunda__centro__txtizq2 {font-size: x-large;
                  font-weight: 700;
                  display: flex;
                  justify-content: left;
                  margin-left: 192px;
                  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
                  &__segunda__centro__txtizq3 {font-size: x-large;
                    font-weight: 700;
                    display: flex;
                    justify-content: left;
                    margin-top: -1px;
                    margin-left: 196px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
                    &__segunda__centro__txtder {font-size: x-large;
                      font-weight: 700;
                      display: flex;
                      margin-top: -3px;
                      justify-content: right;
                      margin-right: 150px;
                      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
                      
                      &__pie__clases {
                        background-color: black;
                        padding: 20px;
                        height: 325px;
                        margin-left: 25px;
                        margin-top: 55px;}
                        &__formulario__c {
                          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                          display: table-caption;
                          color: white;
                          background-color: black;
                          margin-left: 71px;}
                          &__infoc {
                            grid-area: info;
                            text-align: right;
                            color: white;
                            height: -20px;
                            font-size: x-large;
                            margin-top: -233px;
                            margin-right: 6px;}
    }
    