/*estilo tablet - - - - nosotros*/

@media only screen and (min-width: 321px) and (max-width: 769px){

    &__#grilla5{
      display: grid;
      justify-content: center;
      grid-template-columns:1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "header" "quinta" "footer";}
      
      &__container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
          width: 100%;
          padding-right: var(--bs-gutter-x,.75rem);
          padding-left: var(--bs-gutter-x,.75rem);
          margin-right: 1px;
          margin-left: -75px;}
      
      &__div.headernos{grid-area: headernos;
          margin-left: 125px;}
    
      &__nav.noslinks{grid-area: noslinks;
          margin-right: 1058px;}
      
      &__div.txtnos{grid-area: txtnos;
          width: 785px;
          padding: 2px;
          margin-left: 40px;
          margin-top: 10px;}
    
          &__div.nospie__nosotros{grid-area: nospie__nosotros;
              background-color: black;
              padding: 20px;
              height: 360px;
              margin-left: 77px;
              margin-right: -20px;}     
    }
    