/*estilo movil - - - - estudio*/

@media only screen and (max-width: 320px){

    &__#grilla3{
          display: grid;
          justify-content: center;
          grid-template-columns:1fr;
          grid-template-rows: 1fr;
          grid-template-areas: "header" "tercera" "footer";}
          
          &__container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
                  width: 100%;
                  padding-right: var(--bs-gutter-x,.75rem);
                  padding-left: var(--bs-gutter-x,.75rem);
                  margin-right: 1px;
                  margin-left: -75px;}
        
        &__headest1{grid-area: headest1;
                margin-left: 353px;}
                
                    &__links{grid-area: links;
                margin-right: 1295px;
                margin-top: -8px;}
        
                    }