/*estilo tablet - - - - estudio*/

@media only screen and (min-width: 321px) and (max-width: 769px){

    &__#grilla3{
      display: grid;
      justify-content: center;
      grid-template-columns:1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "header" "quinta" "footer";}
      
      &__container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
          width: 100%;
          padding-right: var(--bs-gutter-x,.75rem);
          padding-left: var(--bs-gutter-x,.75rem);
          margin-right: 1px;
          margin-left: -75px;}
      
      &__headest1{grid-area: headest1;
          margin-left: 125px;}
    
      &__links{grid-area: links;
          margin-right: 1058px;}
      
      
          &__pie__estudio{grid-area: pie__estudio;
              background-color: black;
              padding: 20px;
              height: 360px;
              margin-left: 77px;
              margin-right: -20px;}     
    }
    