/*estilo desktop - - - - nosotros*/

@media only screen and (min-width:769px) and (max-width:1025px){

    #grilla5{
    display: grid;
    justify-content: center;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "header" "quinta" "footer";}
  
    &__container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: 1px;
        margin-left: -132px;}
    
        &__tipnosotros{margin-left: 219px;}
        &__nosotros {overflow: hidden;
      margin-left: -53px;
      margin-right: -114px;}
      &__noslinks{margin-left: 692px;
        display: flex;}
        &__quinta{margin-left: 20px;}
      &__quinta__img {width: 200px;
        height: 558px;
        display: flex;
        margin-left: 462px;}
        &__quinta__txt{width: 930px;
          margin-left: 496px;
          margin-bottom: 2px;
          margin-top: 23px;}
          &__pie__nosotros{margin-left: 245px;
        height: 344px;} 
        &__formn{margin-left: 58px;}
        &__info {grid-area: info;
          text-align: right;
          color: white;
          height: -20px;
          font-size: x-large;
          margin-top: -233px;
          margin-right: 3px;}
    
  }
  