.tercera{
    padding: 20px;
          
  &__tercera__img{
        display: flex;
        justify-content: right;
        height: 700px;
        margin-right: 70px;}
  
  &__tercera__img2{
        display: flex;
        margin-top: -379px;
        margin-left: 55px;}
  
  &__tercera__img3{
        display: flex;
        height: 300px;
        margin-left: 110px;
        margin-top: -679px;}
  
  &__tercera__logo{
        text-align: 20px;
        margin-left: 47px;
        margin-top: 379px;}
  
  &__tercera__txt{ 
        font-weight: 500;
        display: flex;
        margin-top: -131px;
        text-align: justify;
        margin-bottom: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 375px;}  
}