body{
  font-family: sans-serif;
  margin: 0;
}

header{
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: aqua;
  font-size: x-large;
  margin-left: 2px;
  color: blue;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  padding: 10px;
}

.titulo{
  display: flex;
  margin-left: 1rem;
  height: 50px;
  align-items: center;
}

a{
  text-decoration: none;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a{
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover{
  color: white;
}
