/*Nosotros*/

.quinta{
    padding: 15px;
       
  
  .quinta__img{
        width: 200px;
        height: 509px;
        display: flex;
        margin-left: 343px;
            }
  
  .quinta__txt{
        font-weight: 700;
        display: flex;
        margin-top: -5px;
        text-align: justify;
        margin-bottom: -20px;
        width: 864px;
        margin-left: 365px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
             }
  
  .pie__nosotros {
    background-color: black;
    padding: 20px;
    height: 324px;
               }
  
                
                }