/*estilo desktop - - - - trabajos*/

@media only screen and (min-width:769px) and (max-width:1025px){

    #grilla4{
    display: grid;
    justify-content: center;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "header" "cuarta" "footer";}
  
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: 1px;
        margin-left: -132px;}
    
    .headt{grid-area: headt;
        margin-left: -4px;
      margin-right: -1205px;}
  
    .links{grid-area: links;
        margin-right: 9px;}
    
        .cuarta__t1 {
          width: 500px;
          height: 1101px;
          display: flex;}
          .cuarta__video {
            display: flex;
            justify-content: right;
            height: -90px;
            margin-right: -1128px;
            margin-top: -303px;}
            .cuarta__unavida {
              padding: 10px;
              text-align: left;
              color: blue;
              font-weight: 700;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              font-size: large;}
              .cuarta__texto {
                width: 1500px;
                font-size: xx-large;}
                .cuarta__video {
                  display: flex;
                  justify-content: right;
                  height: -90px;
                  margin-right: -1128px;
                  margin-top: -400px;}
                  .columna__cen {
                    height: 500px;
                    display: flex;
                    justify-content: center;
                    margin-top: -505px;
                    margin-right: -1167px;}
                  .columna__izq {
                      margin-top: 74px;
                     margin-left: 23px;}
                     .columna__der {
                      height: 500px;
                      display: flex;
                      margin-left: 1767px;
                      margin-top: -500px;}
                      .subtitulos__izq__tit {
                        margin-bottom: 17px;}
                        .subtitulos__cen__tit{
                            margin-left: 787px;
                            width: 620px;}
                          .subtitulos__der__tit{
                            margin-left: 1568px;
                            width: 500px;}                  
        .pie__trabajos {
          grid-area: pie__trabajos;
          background-color: black;
          padding: 20px;
          height: 360px;
          margin-right: 68px;
          margin-right: -1202px;}
  }
  
  
  
  /*estilo tablet - - - - trabajos*/
  
  @media only screen and (min-width: 321px) and (max-width: 769px){
  
  #grilla4{
  display: grid;
  justify-content: center;
  grid-template-columns:1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "header" "cuarta" "footer";}
  
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: 1px;
    margin-left: -75px;}
    .headt{grid-area: headt;
          margin-right: -1285px;}
  
    .links{display: flex;
      grid-area: links;}
  
        .cuarta__t1 {
          width: 500px;
          height: 1022px;
          display: flex;}
          .cuarta__video {
            display: flex;
            justify-content: right;
            height: -90px;
            margin-right: -1293px;
            margin-top: -430px;}
            .cuarta__unavida {
              padding: 10px;
              text-align: left;
              color: blue;
              font-weight: 700;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              font-size: xx-large;}
              .cuarta__texto {
                width: 1432px;
                font-size: xx-large;}
                  .columna__cen {
                    height: 500px;
                    display: flex;
                    justify-content: center;
                    margin-top: -505px;
                    margin-right: -1167px;}
                  .columna__izq {
                      margin-top: 109px;
                     margin-left: 23px;}
                     .columna__der {
                      height: 500px;
                      display: flex;
                      margin-left: 1616px;
                      margin-top: -500px;}
                      .subtitulos__izq__tit {
                        margin-bottom: 15px;}
                        .subtitulos__cen__tit{
                            margin-left: 658px;
                            width: 620px;
                          margin-bottom: 17px;}
                          .subtitulos__der__tit{
                            margin-left: 1431px;
                            width: 500px;}
        
    .pie__trabajos{grid-area: pie__trabajos;
        background-color: black;
        padding: 20px;
        height: 360px;
        margin-left: -20px;
        margin-right: -1287px;} 
    
  }
  
  
  
  /*estilo movil - - - - trabajos*/
  
  @media only screen and (max-width: 320px){
  
  #grilla4{
    display: grid;
    justify-content: center;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "header" "cuarta" "footer";}
    
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
            width: 100%;
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            margin-right: 1px;
            margin-left: -75px;}
  
            .headt{width: 1272px;
              margin-right: -1286px;}
        
          .links{grid-area: links;
              margin-right: 1226px;}
        
              .cuarta__t1 {
                width: 500px;
                height: 629px;
                display: flex;}
                .cuarta__video {
                    display: flex;
                    justify-content: right;
                    height: -90px;
                    margin-right: -611px;
                    margin-top: 19px;
                    height: 231px;
                    width: 903px;}
                  .cuarta__unavida {
                    padding: 10px;
                    text-align: left;
                    color: blue;
                    font-weight: 700;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: xx-large;}
                    .cuarta__texto {
                      width: 1239px;
                      font-size: xx-large;}
                        .columna__cen {
                          height: 500px;
                          display: flex;
                          justify-content: center;
                          margin-top: -505px;
                          margin-right: -957px;}
                        .columna__izq {
                            margin-top: 109px;
                           margin-left: 23px;}
                           .columna__der {
                            height: 500px;
                            display: flex;
                            margin-left: 837px;
                            margin-top: -500px;}
                            .subtitulos__izq__tit {
                              margin-bottom: 29px;}
                              .subtitulos__cen__tit{
                                  margin-left: 333px;
                                  width: 620px;
                                  margin-bottom: 26px;
                                  margin-top: -62px;}
                                .subtitulos__der__tit{
                                  margin-top: -54px;
                                  margin-left: 619px;
                                  width: 500px;}
                  
          .pie__trabajos{grid-area: pie__trabajos;
              background-color: black;
              padding: 20px;
              height: 360px;
              margin-left: -20px;
              margin-right: -957px;} 
              .formulario{margin-left: 271px;}
              .formt{margin-left: -570px;
                display: inline-grid;}
          
          .infot{margin-right: 13px;}
          }
  